<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Parallel Testing">
  <test thread-count="2" parallel="methods" name="Test Parallel">
    <classes>
      <class name="ParallelTesting.ParallelTest"/>
    </classes>
  </test> <!-- Test Parallel -->
</suite> <!-- Parallel Testing -->
